.list-none {
    list-style-type: none;
    padding-left: 0;
}

.ls {
    &-0 {
        letter-spacing: 0px;
    }

    &-1 {
        letter-spacing: 1px;
    }

    @media (max-width: 991px) {
        &-lg-0 {
            letter-spacing: 0px;
        }
    }

}