<footer class="container-translateY" id="footer">

    <div class="container footer-mt gx-sm-3 gx-17">

        <div class="card-frame">
            <div class="card-frame-title">
                <img src="/assets/images/word/wordcard-34.png" alt="Other Links">
            </div>
            <ul
                class="card-frame-bg nav justify-content-center pt-lg-10 pb-lg-3 pt-md-6 pb-md-0 pt-12 pb-5 px-sm-20 pe-0">

                <li class="nav-item me-md-10 me-0 mb-7" data-aos="fade-up" data-aos-duration="600">
                    <a class="icon-community nav-link text-hover-warning-100 text-center p-0"
                        href="https://www.instagram.com/3eyemms/" target="_blank">
                        <div class="image-container mb-2">
                            <img src="/assets/images/website-24.png" alt="Instagram" class="d-block normal-image">
                            <img src="/assets/images/website-30.png" alt="Instagram" class="d-block hover-image">
                        </div>
                        Instagram
                    </a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7" data-aos="fade-up" data-aos-duration="600">
                    <a class="icon-community nav-link text-hover-warning-100 text-center p-0"
                        href="https://www.facebook.com/3eyemms/" target="_blank">
                        <div class="image-container mb-2">
                            <img src="/assets/images/website-26.png" alt="Facebook" class="d-block normal-image">
                            <img src="/assets/images/website-32.png" alt="Facebook" class="d-block hover-image">
                        </div>
                        Facebook
                    </a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7" data-aos="fade-up" data-aos-duration="600">
                    <a class="icon-community nav-link text-hover-warning-100 text-center p-0" href="#">
                        <div class="image-container mb-2">
                            <img src="/assets/images/website-25.png" alt="TOROT info" class="d-block normal-image">
                            <img src="/assets/images/website-31.png" alt="TOROT info" class="d-block hover-image">
                        </div>
                        TOROT info
                    </a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7" data-aos="fade-up" data-aos-duration="600">
                    <a class="icon-community nav-link text-hover-warning-100 text-center p-0" href="#">
                        <div class="image-container mb-2">
                            <img src="/assets/images/website-27.png" alt="PROJECT" class="d-block normal-image">
                            <img src="/assets/images/website-33.png" alt="PROJECT" class="d-block hover-image">
                        </div>
                        PROJECT
                    </a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7" data-aos="fade-up" data-aos-duration="600">
                    <a class="icon-community nav-link text-hover-warning-100 text-center p-0"
                        href="mailto:3eyemms@gmail.com">
                        <div class="image-container mb-2">
                            <img src="/assets/images/website-28.png" alt="CONNECT" class="d-block normal-image">
                            <img src="/assets/images/website-34.png" alt="CONNECT" class="d-block hover-image">
                        </div>
                        CONNECT
                    </a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7" data-aos="fade-up" data-aos-duration="600">
                    <a class="icon-dc nav-link text-hover-warning-100 text-center p-0" href="#">
                        <div class="image-container mb-2">
                            <img src="/assets/images/website-41.png" alt="Discord" class="d-block normal-image">
                        </div>
                        Discord
                    </a>
                </li>

                <img src="/assets/images/angle-01.png" alt="angle-01" class="top-left icon-dc">
                <img src="/assets/images/angle-02.png" alt="angle-02" class="top-right icon-dc">
                <img src="/assets/images/angle-03.png" alt="angle-03" class="bottom-left icon-dc">
                <img src="/assets/images/angle-04.png" alt="angle-04" class="bottom-right icon-dc">
            </ul>
        </div>
    </div>

    <div class="copyright fs-9 text-center text-warning-100 lh-base">
        <p>製作　3EYEMMS｜三目道具屋<br>©3EYEMMS by Zazie Zia</p>
    </div>
</footer>