<header class="navbar navbar-expand-lg border-10 border-top border-dark w-100 py-0" id="header">
    <div class="container-lg container-fluid px-xxl-20 px-3">


        <a href="./index.html" class="navbar-brand d-flex align-items-center p-0">
            <img src="/assets/images/website-13.png" alt="3EYEMMS-logo" class="me-4">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon material-symbols-outlined"></span>
        </button>


        <div class="collapse navbar-collapse gradient-y" id="navbarNav">
            <ul class="navbar-nav align-items-center ms-lg-auto fw-semibold text-center fs-9 ">
                <li class="nav-item me-lg-9">
                    <a href="index.html#Divination" class="nav-link active text-secondary p-lg-0 py-8 px-20" aria-current="index">塔羅占卜<br>DIVINATION</a>
                </li>
                <li class="nav-item me-lg-9">
                    <a href="#MagicWorld" class="nav-link text-secondary p-lg-0 py-8 px-20">魔法世界地圖<br>MAGIC WORLD</a>
                </li>
                <li class="nav-item me-lg-9">
                    <a href="index.html#about3EYEMMS" class="nav-link text-secondary p-lg-0 py-8 px-20">三目道具屋<br>about 3EYEMMS</a>
                </li>
                <li class="nav-item me-lg-9">
                    <a href="info.html" class="nav-link text-secondary p-lg-0 py-8 px-20">塔羅卡牌解析<br>TAROT info</a>
                </li>
                <li class="nav-item me-lg-9">
                    <a href="#" class="nav-link text-secondary p-lg-0 py-8 px-20">相關作品<br>PROJECT</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-secondary p-lg-0 py-8 px-20">相關連結<br>LINKS</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="goTop row gy-1">
    <a href="#top" class="icon-community p-0">
        <div class="image-container-goTop">
        <img src="/assets/images/word/top.png" alt="top" class="normal-image-toTop">
        <img src="/assets/images/word/top_w.png" alt="top" class="hover-image-toTop">
    </div>
    </a>
    <a href="#footer" class="icon-community p-0">
        <div class="image-container-goTop">
        <img src="/assets/images/word/info.png" alt="info" class="normal-image-toTop">
        <img src="/assets/images/word/info_w.png" alt="info" class="hover-image-toTop">
    </div>
    </a>
</div>