<div class="tarot-lightBox">
    <div class="modal fade modal-dialog-background" id="imageModal-1" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/I-content.png" class="img-fluid" alt="I">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-2" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/II-content.png" class="img-fluid" alt="II">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-3" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/III-content.png" class="img-fluid" alt="III">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-4" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/IV-content.png" class="img-fluid" alt="IV">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-5" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/V-content.png" class="img-fluid" alt="V">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-6" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/VI-content.png" class="img-fluid" alt="VI">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-7" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/VII-content.png" class="img-fluid" alt="VII">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-8" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/VIII-content.png" class="img-fluid"
                        alt="VIII">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-9" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/IX-content.png" class="img-fluid" alt="IX">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-10" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/X-content.png" class="img-fluid" alt="X">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-11" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XI-content.png" class="img-fluid" alt="XI">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-12" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XII-content.png" class="img-fluid" alt="XII">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-13" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XIII-content.png" class="img-fluid"
                        alt="XIII">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-14" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XIV-content.png" class="img-fluid" alt="XIV">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-15" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XV-content.png" class="img-fluid" alt="XV">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-16" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XVI-content.png" class="img-fluid" alt="XVI">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-17" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XVII-content.png" class="img-fluid"
                        alt="XVII">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-18" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XVIII-content.png" class="img-fluid"
                        alt="XVIII">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-19" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XIX-content.png" class="img-fluid" alt="XIX">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-20" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XX-content.png" class="img-fluid" alt="XX">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-21" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/XXI-content.png" class="img-fluid" alt="XXI">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-dialog-background" id="imageModal-22" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mb-16 mt-2">
            <div class="modal-content modal-dialog-content-background">
                <div
                    class="modal-header modal-dialog-header-background pt-4 px-sm-12 pb-sm-4 px-4 pb-6 px-sm-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-dialog-body-shadow p-0 mx-auto">
                    <img src="/assets/images/card/inFrame/content/O-content.png" class="img-fluid" alt="O">
                </div>
            </div>
        </div>
    </div>
</div>