.index {
  &-banner {

    background: url('/assets/images/website-15.png');
    background-size: cover;
    background-position: 10% 50%;
    padding-top: 74px;
    padding-bottom: 25px;
  }





  &-tarot {

    &-select {
      @media (max-width: 1260px) {
        max-width: 85% !important;
        margin: auto;
      }
    }


    .tarot-card-back {
      max-width: 150px;
      margin-left: -74px;
      filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.5));
      transition: 0.2s;

      &:hover {
        filter: drop-shadow(0px 0px 8px $warning-100);
      }

    //   &.clicked {
    //     transform: translateY(-30px);
    // }

      @media (max-width: 991px) {
        max-width: 92px;
        margin-left: -42px;
      }

      @media (max-width: 575px) {
        max-width: 80px;
      }

    }

  }

  &-tarot-bg {
    position: absolute;
    background: url(/assets/images/website-16.png) no-repeat;
    background-size: cover;
    height: 950px;
    width: 100%;
    z-index: -1;

    @media (max-width: 768px) {
      height: 656px;
    }

    @media (max-width: 375px) {
      height: 1804px;
    }
  }

  &-tarot-drawcard {

    .tarot-button {
      cursor: pointer;
      position: relative;
      width: 207px;
      height: 57px;

      .normal-image,
      .active-image {
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.1s;
      }

      .active-image {
        opacity: 0;
      }

      &:active {
        .normal-image {
          opacity: 0;
        }

        .active-image {
          opacity: 1;
        }
      }
    }

  }



  &-map {
    background: url(/assets/images/website-14.png) no-repeat;
    background-size: cover;
    background-position-y: 250px;
    max-height: 1808px;

    @media (max-width: 768px) {
      max-height: 858px;
    }

    @media (max-width: 375px) {
      max-height: 558px;
    }

    &::before {
      content: "";
      background: url(/assets/images/website-18.png) no-repeat;
      background-size: contain;
      width: 100%;
      height: 301px;
      top: 250px;
      position: absolute;
      z-index: -1;
    }

    &::after {
      content: "";
      background: url(/assets/images/website-18.png) no-repeat;
      background-size: contain;
      width: 100%;
      height: 301px;
      bottom: 0;
      position: absolute;
      transform: scale(-1);
      z-index: -1;
    }

    .container-map-content{
      @media (max-width: 736px) {
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }

    &-content {
      background: url(/assets/images/stoneA.png) no-repeat;
      background-size: 100%;
      background-position: center top;
      max-height: 100%;
      width: 75%;
      margin: auto;
      letter-spacing: 0.5px;

      @media (max-width: 1240px) {
        width: 90%;
      }

      @media (max-width: 890px) {
        width: 100%;
      }
    
      @media (max-width: 736px) {
        background-size: cover;
      }
    }


    &-text {
      padding-bottom: 6.5rem;


      @media (max-width: 1240px) {
        padding-bottom: 9.5rem;
      }
      
      @media (max-width: 768px) {
        padding-bottom: 5.25rem;
      }
      

      &-h{
        font-size: 1.25rem;
        @media (max-width: 1140px) {
          font-size: 1rem;
        }
        @media (max-width: 576px) {
          font-size: 0.75rem;
        }
        
      }
      &-p{
        @media (max-width: 1140px) {
          font-size: 0.75rem;
        }
        @media (max-width: 576px) {
          font-size: 0.625rem;
        }
        .text-br{
          display: block;
          height: 1rem;
          @media (max-width: 890px) {
            height: 0.75rem;
          }
          @media (max-width: 768px) {
            height: 0.45rem;
          }
          @media (max-width: 576px) {
            height: 0.25rem;
          }
          @media (max-width: 375px) {
            height: 0.75rem;
          }
        }
      }


    }

  }


  &-info {
    // height: 1130px;
    // @media (max-width: 1199px) {
    //   height: 600px;
    // }
    // @media (max-width: 767px) {
    //   height: 600px;
    // }

    &-bg{
      &::before{
        content: "";
        position: absolute;
        background: url(/assets/images/website-14.png) no-repeat;
        background-size: cover;
        background-position-y: 692px;
        height: 1620px;
        width: 100%;
        z-index: -1;

        @media (max-width: 1199px) {
          height: 1400px;
        }
        @media (max-width: 991px) {
          background-position-y: 400px;
          height: 800px;
        }

      }
    }






  }

}