.info {
  &-banner {
    background: url('/assets/images/C01_197-02.png') fixed no-repeat;
    background-position: top center;
    padding: 300px 0px;
    box-shadow: inset 0px -50px 30px rgba(61, 54, 71, 0.5);
  }

  &-col {
    width: 11%;
    order: 0;

    @media (max-width: 613px) {
      width: 22%;
    }

    &-order {
      @media (max-width: 613px) {
        width: 22%;
        order: 2;
      }
    }
  }

  &-tarot-bg {
    &::before {
      content: "";
      position: absolute;
      background: url(/3EYEMMS2/assets/images/website-16.png) no-repeat;

      height: 400px;
      width: 100%;
      z-index: -1;
      transform: translateY(-200px);
    }

  }

  &-footer-bg {
    &::before {
      content: "";
      position: absolute;
      background: url(/3EYEMMS2/assets/images/website-14.png) no-repeat;

      /* background-position-y: 692px; */
      height: 540px;
      width: 100%;
      transform: translateY(750px);
      z-index: -1;
    }

  }






  &-divination {


    &-bg {
      &::before {
        content: "";
        position: absolute;
        background: url(/assets/images/website-14.png) no-repeat;
        background-position-y: 692px;
        height: 1620px;
        width: 100%;
        z-index: -1;

        @media (max-width: 1199px) {
          height: 1400px;
        }

        @media (max-width: 991px) {
          background-position-y: 400px;
          height: 800px;
        }

      }
    }

  }



  &-tarot {

    &-select {
      @media (max-width: 1260px) {
        max-width: 85% !important;
        margin: auto;
      }
    }



    .tarot-card-front {
      max-width: 150px;
      margin-left: -74px;
      filter: drop-shadow(-3px 3px 4px rgba(0, 0, 0, 0.5));
      transition: 0.2s;

      &:hover {
        transform: translateY(-30px);
      }


      @media (max-width: 991px) {
        max-width: 92px;
        margin-left: -42px;
      }

      @media (max-width: 575px) {
        max-width: 80px;
      }

    }


  }



















}