.project {
    &-banner {
        background: url('/assets/images/S0171316.jpg') fixed no-repeat;
        background-size: cover;
        background-position: center;
        padding: 300px 0px;
        box-shadow: inset 0px -50px 30px rgba(61, 54, 71, 0.5);

        @media (max-width: 613px) {
            padding: 200px 0px;
        }
    }

    //嵌入頁面廣告遮罩
    &-divination {
        &::before {
            content: "";
            position: absolute;
            background: url(/assets/images/website-15.png);
            height: 50px;
            width: 100%;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(-50px);
            z-index: 999999;
        }
    }

    &-bg {
        content: "";
        position: absolute;
        background: url(/assets/images/website-15.png);
        background-size: cover;
        background-position-y: bottom;
        transform: translateY(-860px);
        height: 1785px;
        width: 100%;
        z-index: -1;

        &::before {
            content: "";
            background: url(/assets/images/website-18.png) no-repeat;
            background-size: contain;
            width: 100%;
            height: 301px;
            position: absolute;
            z-index: -1;
        }

        &::after {
            content: "";
            background: url(/assets/images/website-18.png) no-repeat;
            background-size: contain;
            width: 100%;
            height: 301px;
            bottom: 0;
            position: absolute;
            transform: scale(-1);
            z-index: -1;
        }

        @media (max-width: 768px) {
            transform: translateY(-500px);
            height: 1300px;
        }

        @media (max-width: 454px) {
            transform: translateY(-400px);
            height: 1400px;
        }

        @media (max-width: 375px) {
            transform: translateY(-380px);
            height: 1472px;
        }
    }

}

//嵌入頁面跑版內容移除
.eapps-widget-toolbar {
    .eapps-widget-toolbar-panel-wrapper {
        .eapps-widget-toolbar-panel-share {
            display: none !important;
        }
    }
}