<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>3EYEMMS</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="index-banner mb-6">
      <div class="container-md container-fluid">
        <img src="/assets/images/website-19.png" alt="banner-lg" class="w-100 d-md-block d-none">
        <img src="/assets/images/website-20.png" alt="banner-md" class="w-100 d-md-none d-sm-block d-none">
        <img src="/assets/images/website-21.png" alt="banner" class="w-100 d-sm-none d-block">
      </div>
    </div>

    <div class="index-tarot mb-6" id="Divination">
      <div class="container-lg container-fluid text-center px-xxl-24 px-3">
        <img src="/assets/images/website-22.png" alt="3EYEMMS-title" class="w-100 mb-6">

        <ol class="list-none d-flex flex-wrap justify-content-center">
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3">
            此占卜為時序牌陣，請以近三個月之事件為占卜內容
          </li>
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3" data-aos="fade-left" data-aos-offset="10" data-aos-delay="300" data-aos-once="true">
            01：請先在內心明確描述問事內容
          </li>
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3" data-aos="fade-left" data-aos-offset="10" data-aos-delay="600" data-aos-once="true">
            02：點選三枚卡牌，按下「開始占卜」
          </li>
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3" data-aos="fade-left" data-aos-offset="10" data-aos-delay="900" data-aos-once="true">
            03：在下方欄目觀看結果
          </li>
        </ol>

        <!-- select-tarot -->


        <div class="index-tarot-select">
          <div class="container mt-sm-12 mt-10">
            <div class="row gx-lg-13 gx-sm-7 gx-0 gy-sm-0 gy-40">
              <ul class="col-sm-6 col-12 list-none d-flex justify-content-between">
                <li data-aos="fade-up" data-aos-duration="600" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="650" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="700" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="750" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="800" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="850" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="900" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="950" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1000" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1050" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1100" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
              </ul>

              <ul class="col-sm-6 col-12 list-none d-flex justify-content-between">
                <li data-aos="fade-up" data-aos-duration="1150" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1200" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1250" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1300" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1350" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1400" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1450" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1500" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1550" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1600" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>
                <li data-aos="fade-up" data-aos-duration="1650" data-aos-offset="40"><img src="/assets/images/card/CARDB.png" alt="CARDB"
                    class="tarot-card-back position-absolute bt-cp"></li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="index-tarot-bg mt-lg-22 mt-sm-10 mt-8 mb-6">
    </div>



    
    <div class="index-tarot-drawcard container-translateY">
      <div class="container">

        <!-- tarot-button -->

        <buttom class="tarot-button d-flex p-0 mb-10 mx-auto">
          <img src="/assets/images/website-44.png" alt="divinationButtom" class="normal-image">
          <img src="/assets/images/website-45.png" alt="divinationButtom" class="active-image">
        </buttom>

        <!-- tarot-result -->

        <div class="row gy-lg-0 gy-6 gx-lg-6 gx-sm-2">
          <a href="#" class="col-sm-4 col-12 px-sm-3 px-17" data-bs-toggle="modal" data-bs-target="#imageModal-1" class="flip-animation"><img
              src="/assets/images/card/inFrame/CARDA.png" alt="CARDB" class="img-fluid w-100" data-aos="fade-up" data-aos-duration="800" data-aos-offset="360"></a>
          <a href="#" class="col-sm-4 col-12 px-sm-3 px-17" data-bs-toggle="modal" data-bs-target="#imageModal-2" class="flip-animation"><img
              src="/assets/images/card/inFrame/CARDB.png" alt="I" class="img-fluid w-100" data-aos="fade-up" data-aos-duration="900" data-aos-offset="360"></a>
          <a href="#" class="col-sm-4 col-12 px-sm-3 px-17" data-bs-toggle="modal" data-bs-target="#imageModal-3" class="flip-animation"><img
              src="/assets/images/card/inFrame/CARDC.png" alt="XIX" class="img-fluid w-100" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="360"></a>
        </div>

      </div>
    </div>

    <!-- tarot-lightBox -->

    <div class="modal fade" id="imageModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-dialog-content-background">
          <div class="modal-header modal-dialog-header-background py-sm-2 py-6">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-dialog-body-background mx-auto">
            <img src="/assets/images/card/inFrame/CARDA.png" class="img-fluid" alt="CARDB">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="imageModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-dialog-content-background">
          <div class="modal-header modal-dialog-header-background py-sm-2 py-6">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-dialog-body-background mx-auto">
            <img src="/assets/images/card/inFrame/CARDB.png" class="img-fluid" alt="XIX">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="imageModal-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content modal-dialog-content-background">
          <div class="modal-header modal-dialog-header-background py-sm-2 py-6">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body modal-dialog-body-background mx-auto">
            <img src="/assets/images/card/inFrame/CARDC.png" class="img-fluid" alt="I">
          </div>
        </div>
      </div>
    </div>

    <!-- bt-cp  -->


    <div class="index-map container-translateY mt-17">
      <div class="container">
        <div class="text-center mb-6">
          <a href="info.html" class="hover-image">
          <img src="/assets/images/website-42.png" alt="info-title" class="mw-100">
        </a>
        </div>
        <div class="text-center" id="MagicWorld">
          <img src="/assets/images/MAPG2KO.png" alt="magicWorld" class="mw-100">
        </div>
      </div>

      <div class="container-xxl container-map-content">
        <div class="index-map-content">

          <div class="index-map-text text-black text-center lh-sm pt-lg-18 pt-sm-14 pt-14 px-lg-18 px-sm-13 px-3
          ">
            <h4 class="index-map-text-h fw-semibold mb-lg-7 mb-3">《 三目魔法世界地圖｜3EYEMMS MAGIC WORLD MAP 》</h4>

            <p class="index-map-text-p fw-semibold">在這被魔物所主宰的世界中，古老的人類已經消失無蹤，取而代之的是魔物興盛的時代。<br
                class="d-sm-block d-none">
              統治著這片土地的主要種族是「獸人系」，他們勇於探索、開墾，為魔物們創造新的文明。<br>
              <span class="text-br"></span>

              而曾經繁榮的人類文明，僅留下著零星的遺跡與傳說，成為被稱為「舊人系」的種族。<br>
              少數保留著舊人外型的「不死系」族裔，自居為「新人系」，成為不死系的權力核心，藉此主張對統治世界的正統性。<br>
              然而隨著時間流逝，其他種族中的「不死系」日益增加，以人型姿態存在的不死族逐漸被邊緣化。<br>
              如今，主宰「不死系」的已是以獸人外型為主的不死系魔物們。<br>
              <span class="text-br"></span>

              「新人系」渴望復興舊人類文明的願望愈發低調，他們隱藏在黑暗之中，等待時機的來臨。<br>
              <span class="text-br"></span>

              這片的土地上，存在著「六大迷宮」分別由不同族裔的魔物佔據其中。<br>
              而更深處尚未被完全探索的「三大深淵」，蘊藏無盡著未知與危險...
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="index-info-bg"></div>

    <div class="index-info info-translateY mt-xxl-40 mt-0">
      <div class="container" id="about3EYEMMS">
        <div class="row text-center gy-6">
          <div class="col-sm-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><img src="/assets/images/website-51.png" alt="" class="mw-100 img-set"></div>
          <div class="col-sm-4"><img src="/assets/images/website-54.png" alt="" class="mw-100 img-set"></div>
          <div class="col-sm-4 d-flex align-items-center flex-column justify-content-around">
            <img src="/assets/images/website-55.png" alt="" class="mw-100 img-set mb-sm-0 mb-4">
            <img src="/assets/images/website-56.png" alt="" class="mw-100 img-set">
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <%- include('./layout/script'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>