<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>三目道具屋｜PROJECT｜相關作品</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="project-banner mb-6">
            <div class="container-md container-fluid">
            </div>
        </div>

        <div class="info-tarot mt-1">
            <div class="container-lg container-fluid text-center px-xxl-6 px-3">
                <div class="px-xl-40 px-lg-28 px-sm-10" id="Infotitle">
                    <img src="/assets/images/word/wordcard-01.png" alt="3EYEMMS-title" class="w-100 px-xl-8 mb-10">
                </div>
            </div>
        </div>

        <div class=" container project-elfsight px-0">

            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-74d10dc9-5773-441f-962e-47eadbde5957" data-elfsight-app-lazy></div>


        </div>


        <div class="project-bg"></div>



        <div class="project-divination mt-0">
            <div class="container px-0">

                <div class="info-tarot mb-6">
                    <div class="container-lg container-fluid text-center px-xxl-24 px-3">
                        <img src="/assets/images/website-22.png" alt="3EYEMMS-title" class="title-width mb-6">

                        <ol class="list-none d-flex flex-wrap justify-content-center">
                            <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3">
                                此占卜為時序牌陣，請以近三個月之事件為占卜內容
                            </li>
                            <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3">
                                若想進行占卜，請點擊下方《開始占卜》
                            </li>
                        </ol>


                        <div class="info-tarot-select">
                            <div class="container mt-sm-12 mt-10">
                                <div class="row gx-lg-13 gx-sm-7 gx-0 gy-sm-0 gy-40">
                                    <ul class="col-sm-6 col-12 list-none d-flex justify-content-between">
                                        <li data-aos="fade-up" data-aos-duration="600" class="icon-brightness zindex-40"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-1"
                                            class="flip-animation"><img src="/assets/images/card/I.png" alt="I"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="650" class="icon-brightness zindex-39"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-2"
                                            class="flip-animation"><img src="/assets/images/card/II.png" alt="II"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="700" class="icon-brightness zindex-38"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-3"
                                            class="flip-animation"><img src="/assets/images/card/III.png" alt="III"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="750" class="icon-brightness zindex-37"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-4"
                                            class="flip-animation"><img src="/assets/images/card/IV.png" alt="IV"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="800" class="icon-brightness zindex-36"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-5"
                                            class="flip-animation"><img src="/assets/images/card/V.png" alt="V"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="850" class="icon-brightness zindex-35"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-6"
                                            class="flip-animation"><img src="/assets/images/card/VI.png" alt="VI"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="900" class="icon-brightness zindex-34"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-7"
                                            class="flip-animation"><img src="/assets/images/card/VII.png" alt="VII"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="950" class="icon-brightness zindex-33"
                                            data-bs-toggle="modal" data-bs-target="#imageModal-8"
                                            class="flip-animation"><img src="/assets/images/card/VIII.png" alt="VIII"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1000"
                                            class="icon-brightness zindex-32" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-9" class="flip-animation"><img
                                                src="/assets/images/card/IX.png" alt="IX"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1050"
                                            class="icon-brightness zindex-31" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-10" class="flip-animation"><img
                                                src="/assets/images/card/X.png" alt="X"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1100"
                                            class="icon-brightness zindex-30" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-11" class="flip-animation"><img
                                                src="/assets/images/card/XI.png" alt="XI"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                    </ul>

                                    <ul class="col-sm-6 col-12 list-none d-flex justify-content-between">
                                        <li data-aos="fade-up" data-aos-duration="1150"
                                            class="icon-brightness zindex-29" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-12" class="flip-animation"><img
                                                src="/assets/images/card/XII.png" alt="XII"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1200"
                                            class="icon-brightness zindex-28" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-13" class="flip-animation"><img
                                                src="/assets/images/card/XIII.png" alt="XIII"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1250"
                                            class="icon-brightness zindex-27" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-14" class="flip-animation"><img
                                                src="/assets/images/card/XIV.png" alt="XIV"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1300"
                                            class="icon-brightness zindex-26" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-15" class="flip-animation"><img
                                                src="/assets/images/card/XV02.png" alt="XV"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1350"
                                            class="icon-brightness zindex-25" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-16" class="flip-animation"><img
                                                src="/assets/images/card/XVI.png" alt="XVI"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1400"
                                            class="icon-brightness zindex-24" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-17" class="flip-animation"><img
                                                src="/assets/images/card/XVII.png" alt="XVII"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1450"
                                            class="icon-brightness zindex-23" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-18" class="flip-animation"><img
                                                src="/assets/images/card/XVIII.png" alt="XVIII"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1500"
                                            class="icon-brightness zindex-22" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-19" class="flip-animation"><img
                                                src="/assets/images/card/XIX.png" alt="XIX"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1550"
                                            class="icon-brightness zindex-21" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-20" class="flip-animation"><img
                                                src="/assets/images/card/XX.png" alt="XX"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1600"
                                            class="icon-brightness zindex-20" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-21" class="flip-animation"><img
                                                src="/assets/images/card/XXI.png" alt="XXI"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>
                                        <li data-aos="fade-up" data-aos-duration="1650"
                                            class="icon-brightness zindex-19" data-bs-toggle="modal"
                                            data-bs-target="#imageModal-22" class="flip-animation"><img
                                                src="/assets/images/card/O.png" alt="O"
                                                class="tarot-card-front position-absolute bt-cp">
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container-translateY position-relative zindex-1 mt-lg-12">
                <div class="text-center mb-6">
                    <a href="index.html#Divination">
                        <img src="/assets/images/website-43.png" alt="divination-title" class="icon-title mw-100">
                    </a>
                </div>

            </div>
        </div>

        <div class="project-footer-bg"></div>

        <div class="info-footer">
            <%- include('./layout/footer'); -%>
        </div>
        <%- include('./layout/tarot-lightBox'); -%>
            <%- include('./layout/script'); -%>

                <script type="module" src="../main.js"></script>

</body>

</html>