<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>contact</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <!-- tarot-all -->

    <div class="container d-none">

      <!-- tarot-past -->
      <div class="tarot-past">
        <img src="/assets/images/card/inFrame/past/I-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/II-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/III-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/IV-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/IX-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/O-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/V-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/VI-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/VII-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/VIII-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/X-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XI-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XII-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XIII-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XIV-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XIX-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XV-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XVI-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XVII-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XVIII-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XX-past.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/past/XXI-past.png" alt="tarot-result">
      </div>

      <!-- tarot-present -->
      <div class="tarot-present">
        <img src="/assets/images/card/inFrame/present/I-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/II-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/III-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/IV-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/IX-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/O-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/V-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/VI-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/VII-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/VIII-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/X-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XI-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XII-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XIII-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XIV-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XIX-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XV-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XVI-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XVII-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XVIII-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XX-present.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/present/XXI-present.png" alt="tarot-result">
      </div>

      <!-- tarot-future -->
      <div class="tarot-future">
        <img src="/assets/images/card/inFrame/future/I-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/II-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/III-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/IV-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/IX-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/O-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/V-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/VI-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/VII-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/VIII-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/X-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XI-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XII-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XIII-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XIV-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XIX-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XV-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XVI-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XVII-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XVIII-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XX-future.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/future/XXI-future.png" alt="tarot-result">
      </div>

        <div class="tarot-content">
        <img src="/assets/images/card/inFrame/content/I-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/II-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/III-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/IV-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/IX-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/O-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/V-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/VI-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/VII-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/VIII-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/X-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XI-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XII-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XIII-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XIV-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XIX-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XV-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XVI-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XVII-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XVIII-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XX-content.png" alt="tarot-result">
        <img src="/assets/images/card/inFrame/content/XXI-content.png" alt="tarot-result">
      </div>

      <script type="module" src="/layout/json/tarot-files.json"></script>

    </div>

    <%- include('./layout/footer'); -%>
      <%- include('./layout/script'); -%>

        <script type="module" src="../main.js"></script>
</body>

</html>